{% extends 'root.html' %}

{% block title %}
  Nursery site!
{% endblock %}

{% block body %}
<center>
    <h1>Hello, {% firstof user.username 'Guest' %}</h1>
<br>
This is the site of the nursery, you can have your favorite pet!
<br>
  <a href="{% url 'parents:index' %}">Here</a> you can familiarize yourself with our dogs!
   <br>
    <a href="{% url 'parents:breeds' %}">The list of breeds</a> will tell you which ones are currently available.
    <br>
     <a href="{% url 'puppies:index' %}">The page with available broods</a> will show which puppies are available for purchase.
    <br><br>
    <h2>Enjoy!</h2>
</center>
{% endblock %}
