{% extends 'root.html' %}

{% block title %}
  Dog {{ parent.name }}
{% endblock %}

{% block body %}
<h1>Parent dog <strong>{{ parent.name }}</strong></h1>
<div class="list-group">
  <p> Gender: {{ parent.gender }} </p>
  <p> Breed: {{ parent.breed }} </p>
  <p> Color: {{ parent.color }} </p>
  <p> Birth: {{ parent.birth }} </p>
  <p> Weight: {{ parent.weight }} </p>
  <p> Height: {{ parent.height }} </p>
</div>
{% if user.is_superuser %}
<div class="my-3">
  <a class="btn btn-outline-warning" href="{% url 'parents:delete' parent.pk %}">
    Archive dog
  </a>
</div>
{% endif %}
<div class="my-3" >
  <a href="{% url 'parents:index' %}">Back to parent dogs list</a>
</div>
{% endblock %}