{% extends 'root.html' %}

{% block title %}
  Parents list
{% endblock %}

{% block body %}
  <h1>Hello Parent Dogs!</h1>
  <ul class="list-group">
    {% for parent in parents %}
    <li class="list-group-item">
      <a href="{% url 'parents:details' parent.pk %}">
        {{parent.name}} [{{parent.breed}}] ({{parent.color}})
      </a>
    </li>
    {% endfor %}
  </ul>
  <div class="my-2">
    <a class="btn btn-outline-info" href="{% url 'parents:create-parent' %}">
    Create Parent dog
    </a>
  </div>
{% endblock %}