{% extends 'root.html' %}

{% block title %}
  {{ p_breed }}
{% endblock %}

{% block body %}
  <h1>Dogs Breed {{ p_breed }}:</h1>
  <ul class="list-group">
    {% for dog in object_list %}
    <li class="list-group-item">
      <a href="{% url 'parents:breed_parents' dog.pk %}">
        {{ dog }}
      </a>
    </li>
    {% endfor %}
  </ul>
<div class="my-2">
  <a href="{% url 'parents:breeds' %}">
    Back to parent's breeds</a>
</div>
<div class="my-3" >
  <a href="{% url 'parents:index' %}">Back to parent dogs list</a>
</div>
{% endblock %}