{% extends 'root.html' %}

{% block title %}
  Parents breed list
{% endblock %}

{% block body %}
  <h1>Parents Breeds:</h1>
    <div class="row">
      <div class="col col-lg-9">
      <ul class="list-group">
        {% for parent_breed in object_list %}
        <li class="list-group-item">
        <div>
          <a href="{% url 'parents:breed_parents' parent_breed.name %}">
          {{ parent_breed.name }}
            </a>
        </div>
            <span>
            {{ parent_breed.description }}
            </span>
        </li>
        {% endfor %}
      </ul>
    </div>
      <div class="my-3" >
  <a href="{% url 'parents:index' %}">Back to parent dogs list</a>
</div>
{% endblock %}